/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}
.bg-image{
    background-image:url(./app/image.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}
i{
    cursor: pointer;
    padding:3px;
}
[nz-icon] {
    font-size:24px;

}
[nzDanger]{
    color:red;
}
td{ 
   background:#eaeaea
}
nz-table{
    background: rgb(184,14,199);
background: linear-gradient(90deg, rgba(184,14,199,1) 0%, rgba(52,70,148,1) 48%, rgba(198,27,74,1) 100%);
    color: #fff;
}
nz-select{
    width:100%;
  

}