/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

i{
    cursor: pointer;
    padding:3px;
}
[nz-icon] {
    font-size:24px;

}
[nzDanger]{
    color:red;
}
td{ 
   background:#eaeaea
}
nz-table{
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    color: #fff;
}
nz-select{
    width:100%;
  

}