:host {
    text-align: center;
  }
h1{
  color:white;
}
.sign-in{
  float:right;
  
}
  nz-header,
  nz-footer {
    
background: linear-gradient(to right, #bdc3c7, #2c3e50);
    color: #fff;

  }

  nz-footer {
    line-height: 1.5;
  }

  nz-sider {
    background:#001529;
    color: #fff;
    line-height: 120px;
  }

  nz-content {
  
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  nz-layout {
    margin-bottom: 48px;
  }

  nz-layout:last-child {
    margin: 0;
  }

  .paging{
    float:right;
  }
 a{
   text-decoration: none;
   color:#fff;
   
 }
 .top{
   float:left;
   font-size:10px
 }