:host {
    text-align: center;
  }
h1{
  color:white;
  
}
  nz-header,
  nz-footer {
    background: rgb(184,14,199);
background: linear-gradient(90deg, rgba(184,14,199,1) 0%, rgba(52,70,148,1) 48%, rgba(198,27,74,1) 100%);
    color: #fff;

  }

  nz-footer {
    line-height: 1.5;
  }

  nz-sider {
    background:#001529;
    color: #fff;
    line-height: 120px;
  }

  nz-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  nz-layout {
    margin-bottom: 48px;
  }

  nz-layout:last-child {
    margin: 0;
  }
  nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
  }
 