<nz-table [nzFrontPagination]="false" #basicTable [nzData]="wardList" (nzPageIndexChange)="onPageChange($event)"
  [nzTotal]="total" [nzPageIndex]="currentPage" [(nzPageSize)]="pageSize">
  <thead>
    <tr>
      <th>Id Phường</th>
      <th>Tên Phường</th>
      <th>Quận </th>
      <th>Thao tác </th>
      <th>
        <button nz-button [nzType]="'primary'" (click)="showAdd()"><span>Thêm
            mới</span></button>
        <app-ward-modal *ngIf="isVisible2" [isVisible2]="isVisible2" (closeWard)="fromModal($event) " [wd]="wd">
        </app-ward-modal>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataitem of basicTable.data ">
      <td>{{dataitem.wardId}}</td>
      <td>{{dataitem.wardName | titlecase }}</td>
      <td>{{dataitem.districtView.districtName | titlecase}}</td>
      <td><i nz-icon nzType="edit" nzTheme="outline" (click)="showModal(dataitem)"></i>
        <i nz-icon nzDanger nzType="delete" nzTheme="outline" (click)="deleteClick(dataitem.wardId)"></i>
        <app-ward-modal *ngIf="isVisible" [isVisible]="isVisible" (closeWard)="fromModal($event) " [wd]="wd">
        </app-ward-modal>
      </td>
    </tr>
