<div class="wrapper ">
  <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected>
      <i nz-icon nzType="home" nzTheme="fill"></i>
      <span>Menu</span>
    </li>
    <li nz-submenu nzTitle="Quản Lý" nzIcon="setting">
      <ul>
        <li nz-submenu nzTitle="Thành phố">
          <ul>
            <li nz-menu-item routerLink="city">Thành phố</li>
            <li nz-submenu nzTitle="Quận huyện ">
              <ul>
                <li nz-menu-item routerLink="district">Quận/huyện</li>
                <li nz-menu-item routerLink="ward">Phường/xã</li>
              </ul>
            </li>
          </ul>
        </li>
        <li routerLink="report" nz-menu-item>Báo cáo</li>
      </ul>
    </li>
  </ul>
</div>
